<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167742209744-ifl548aph02kiqh8p3kc3csf1kt01uvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167742209744-ifl548aph02kiqh8p3kc3csf1kt01uvl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167742209744-3g3bp5f6vu6l0h67c132a8rjf56o60kr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPXH3iGabrDu7qDyJsOYUQ73Kr0ZOJgTs</string>
	<key>GCM_SENDER_ID</key>
	<string>167742209744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.skykraft.SkyKraftUserApp</string>
	<key>PROJECT_ID</key>
	<string>skykraft-e7fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>skykraft-e7fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167742209744:ios:cd5cef83bd99083669e8d5</string>
</dict>
</plist>